#AlbumDashboard {
    display: flex;
    flex-direction: column;
    
    > #album-edit-invisible {
        display: none;
    }

    > div > #album-editor-selector {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    > div > #album-editor-description {
        display: flex;
        flex-direction: column;
    }
}