.element-library {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    >  .element-items {
        padding: 10px 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 20px;
        flex: 1;
    }

    > .element-pagination {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
        
        > * {
            border-radius: 5px;
            width: 45px;
            height: 35px;
            margin: 2px;
        }
        
        > span {
            text-align: center;
            width: 20px;
            height: auto;
            padding-bottom: 5px;
            color: var(--border);
        }
    }
}