#album-display {
    display: flex;
    flex-direction: column;

    > #album-display-header {
        height: 30%;
        margin: 10px;
        display: flex;
        flex-direction: row;

        > img {
            height: 100%;
            box-shadow: 0 0 10px black;
        }

        > #album-display-name {
            flex: 1;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            > h2 {
                font-size: 4em;
                font-weight: bold;
                margin: 10px 0px;
            }
        }
    }

    > #album-display-content {
        flex: 1;
    }
}