.element-button {
    width: 50%;
    padding: 0;
    border: 2px solid var(--highlight);
    background-color: transparent;
    color: var(--font);
    outline: none;
    user-select: none;
    
    transition: var(--default-transition);
    
    &.holding {
        background-color: var(--highlight)!important;
    }

    &:hover {
        cursor: pointer;
        background-color: RGBA(var(--rgb-highlight), 0.1);
    }

    &:active {
        background-color: var(--highlight);
    }
}