.element-image-selector {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;

    width: 200px;
    height: 200px;
    border-radius: 10px;
    
    box-shadow: 0 0 3px black;

    transition: var(--default-transition);

    > .element-image {
        position: relative;
        overflow: hidden;
        width: 200px;
        flex: 1;


        > img {
            width: 100%;
            object-fit: cover;
            display: block;
            transition: var(--default-transition);
        }
    
        > .element-image-overlay {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            top: 0;
            width: 100%;
            height: 100%;

            transition: var(--default-transition);
            background-color: rgba(var(--rgb-surface), 0.4);
            opacity: 0;
        }
    }

    > span {
        width: calc(100% - 10px);
        padding: 10px 5px;
        
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        background-color: var(--surface);
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px black;

        .element-image-overlay  {
            opacity: 1;
        }

        img {
            transform: scale(1.3);
        }
    }
}